*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-repeat: no-repeat;
    background-size: cover;
}

.boxer{
    background: black;
    opacity: 0.8;
    border-radius: 12px;
    padding: 20px;   
    width: 95%;
    max-width: 450px;  
}

input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 12px;
    font-size: 20px;
    color: #fff;
    background-color: #7c7c7c;
    width: calc(100% - 100px);
}

button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 12px;
    background-color: #7c7c7c;
    cursor: pointer;
    float: right;
}

.search{
    width: 20px;
}

.box2{
    margin-top: 30px;
    color: #fff;
    
}

.temp{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    display: flex;
}

.cloud{
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.weather{
    font-size: 20px;
    color: #fff;
    text-transform: capitalize;
}

.umid{
    font-size: 16px;
    color: #fff;
    margin-top: 20px;
}